* {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #444;
    background: url('../images/dark-plant-background.jpg');
    background-size: contain;
    background: cover no-repeat;
}

h2 {
    color: #505656;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 2px solid #444;
    padding: 20px;
    position: absolute;
    clear: both;
}

.top-container {

}

.logo {
    width: 230px;
    height: 80px;
    text-align: center;
    background-color: #505656;
    color: #ffffff;
    position: absolute;
    font-size: 30px;
    text-decoration: none;
    padding: 20px;
    margin-left: 135px;
}

.nav-links {
    color: #505656;
    border-right: 1px solid #444;
    margin-right: 10px;
    position: absolute;
}

.website-navbar {
    width: 100%
    background-color: rgba(242, 242, 242, 0.8);
    height: 200px;
    position: relative;
}

.section-container {
    
}

.about-me {
    margin: 0 auto;
    height: 450px;
    max-width: 960px;
    background-color: rgba(242, 242, 242, 0.8);
    border: 2px solid #444;
    margin-bottom: 20px;
    position: relative;
}

.about-me-content {
    float: right;
    position: absolute;
    line-height: normal;
    margin-left: 350px;
    margin-top: 200px;
}

.me {
    margin-left: 20px;
    margin-top: 90px;
    position: absolute;
    max-width: 300px;
}

.footer-container {
    width: 100%;
    height: 70px;
    background-color: rgba(242, 242, 242, 0.8);
    border-top: 8px solid #444;
    clear: both;
}

.footer-content {
    text-align: center;
    padding: 20px;
}